---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<section>
			<h1>Hi, I’m Nino Martinez Wael</h1>
			<p>
			  GitHub is my technical playground—a space where I explore new ideas, prototype experiments, and contribute to projects that resonate with me.
			  Whether it’s refining developer tools, experimenting with creative coding, or diving into open-source communities, I treat this space as both a lab and a logbook.
			</p>
			<p>
			  I’m always open to collaboration and curious about what’s possible when people build things together.
			</p>
		  </section>
	</div>
</PageLayout>
